.main-content {
  width: 480px;
  height: 480px;
  padding: 49.92px 51.84px 50.88px 51.84px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  background: #F5F5F5;
  position : relative;
  display : flex;
  flex-direction : column;
}

.dies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap : 26.88px;
}

.title {
  display: flex;
  width: 288.18px;
  height: 47.04px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: #2B283A;
  text-align: center;
  font-family: Karla;
  font-size: 38.4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.152px;
}

.text {
  width: 349.44px;
  flex-shrink: 0;

  color: #4A4E74;
  text-align: center;
  font-family: Inter;
  font-size: 19.6605px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.589px;
}

.roll-button {
  width: 138.24px;
  padding : 7.5px;
  flex-shrink: 0;
  background : #5035FF;
  border-radius: 4.5px;
  margin-top : 22.5px;

  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 24.576px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border : none;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 7.5px 7.5px 15px -4.5px rgba(0, 0, 0, 0.7);
}

.footer {
  margin : 7.5px;
  position : absolute;
  bottom : 0;
  right : 0;
  text-align: end;
  color: #FFF;
  font-family: Karla;
  font-size: 15 px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}